In [ ]:
# This notebook can be used to load hesin files, typecast columns type and the saving as hesin.tsv format

In [20]:
import pandas as pd
import numpy as np

In [27]:

txt_file_path = "" #/home/user/hesin_oper.txt
tsv_file_path = "" #/home/user/hesin_oper.tsv
df=pd.read_csv("file_path", sep = "\t")
df

,eid,ins_index,arr_index,level,opdate,oper3,oper3_nb,oper4,oper4_nb,posopdur,preopdur
0,1000015,0,0,1,05/06/2013,NaN,NaN,W401,NaN,3.0,0.0
1,1000015,1,0,1,NaN,NaN,NaN,X998,NaN,NaN,NaN
2,1000015,0,1,2,05/06/2013,NaN,NaN,Z942,NaN,NaN,NaN
3,1000023,0,1,2,13/01/2016,NaN,NaN,E036,NaN,NaN,NaN
4,1000023,0,0,1,13/01/2016,NaN,NaN,E042,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
8640746,6026645,6,0,1,22/09/2004,NaN,NaN,X298,NaN,0.0,0.0
8640747,6026645,8,2,2,26/01/2005,NaN,NaN,Z943,NaN,NaN,NaN
8640748,6026645,19,2,2,15/09/2017,NaN,NaN,Z665,NaN,NaN,NaN
8640749,6026645,19,3,2,15/09/2017,NaN,NaN,Z668,NaN,NaN,NaN
8640750,6026645,8,0,1,26/01/2005,NaN,NaN,B282,NaN,4.0,1.0

In [28]:
df.dtypes

eid            int64
ins_index      int64
arr_index      int64
level          int64
opdate        object
oper3        float64
oper3_nb     float64
oper4         object
oper4_nb     float64
posopdur     float64
preopdur     float64
dtype: object

In [29]:
col_list = list(df.columns)
col_list

['eid',
 'ins_index',
 'arr_index',
 'level',
 'opdate',
 'oper3',
 'oper3_nb',
 'oper4',
 'oper4_nb',
 'posopdur',
 'preopdur']

In [ ]:
# Column list

# hesin_oper_int_columns = ["eid","ins_index","arr_index","level","posopdur","preopdur"]
# hesin_oper_str_columns = ["opdate","oper3","oper3_nb","oper4","oper4_nb"]

# hesin_int_columns = ["eid","ins_index","epidur","bedyear","epistat","epitype","epiorder","spell_index","spell_seq",
#                "speldur","elecdur","admimeth_uni","admisorc_uni","firstreg","classpat_uni","intmanag_uni",
#                "mainspef_uni","tretspef_uni","operstat","dismeth_uni","dismeth","carersi"]
# hesin_str_columns = ["tretspef","disdate","disdest_uni","disdest","mainspef","intmanag","classpat",
#                "admisorc","admimeth","admidate","elecdate","category","pctcode","spelend","spelbgin",
#               "epiend","epistart","source","dsource","gpprpct"]

In [30]:
#hesin_oper.txt

df.loc[:,df.columns.isin(hesin_oper_int_columns)] = df.loc[:,df.columns.isin(hesin_oper_int_columns)].astype('Int64')
df.loc[:,df.columns.isin(hesin_oper_str_columns)] = df.loc[:,df.columns.isin(hesin_oper_str_columns)].astype('string')
df = df.filter(col_list)
df.dtypes

/tmp/ipykernel_68/452078127.py:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,df.columns.isin(hesin_int_columns)] = df.loc[:,df.columns.isin(hesin_int_columns)].astype('Int64')
/tmp/ipykernel_68/452078127.py:5: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,df.columns.isin(hesin_str_columns)] = df.loc[:,df.columns.isin(hesin_str_columns)].astype('string')

eid           Int64
ins_index     Int64
arr_index     Int64
level         Int64
opdate       string
oper3        string
oper3_nb     string
oper4        string
oper4_nb     string
posopdur      Int64
preopdur      Int64
dtype: object

In [8]:
df

,eid,ins_index,dsource,source,epistart,epiend,epidur,bedyear,epistat,epitype,...,mainspef,tretspef_uni,tretspef,operstat,disdate,dismeth_uni,dismeth,disdest_uni,disdest,carersi
0,1000015,1,HES,71,27/06/2020,28/06/2020,1,1,3,1,...,430,1550,430,8,28/06/2020,1000,1,1000.0,19,99
1,1000015,0,HES,18,05/06/2013,08/06/2013,3,3,3,1,...,110,2580,110,1,08/06/2013,1000,1,1000.0,19,99
2,1000023,1,HES,70,25/05/2016,25/05/2016,0,0,3,1,...,120,1430,120,1,25/05/2016,1000,1,1000.0,19,99
3,1000023,0,HES,70,13/01/2016,13/01/2016,0,0,3,1,...,120,1430,120,1,13/01/2016,1000,1,1000.0,19,99
4,1000037,1,HES,18,20/10/2011,25/10/2011,5,5,3,1,...,110,2580,110,1,25/10/2011,1000,1,1000.0,19,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4175958,6026645,10,HES,6,11/02/2004,11/02/2004,0,0,3,1,...,120,1430,120,<NA>,11/02/2004,1000,1,1000.0,19,2
4175959,6026645,14,HES,70,02/07/2015,02/07/2015,0,0,3,1,...,190,2350,191,1,02/07/2015,1000,1,1000.0,19,99
4175960,6026645,12,HES,6,18/12/1998,18/12/1998,0,0,3,1,...,502,1580,502,<NA>,18/12/1998,1000,1,1000.0,19,2
4175961,6026645,1,HES,6,12/07/2007,12/07/2007,0,0,3,1,...,300,1490,300,8,<NA>,4000,8,11000.0,98,2
4175962,6026645,19,HES,70,14/09/2017,20/09/2017,6,6,3,1,...,300,1490,300,1,20/09/2017,1000,1,1000.0,19,99

In [31]:
df.to_csv("tsv_file_path", sep = "\t", index = False)